<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>i旅行-注册页</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">
	<link rel="shortcut icon" type="image/x-icon"  th:href="@{/images/favicon.ico}">
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/register.css}">
	<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
	<script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}" ></script>
	<script type="text/javascript" th:src="@{/js/register.js}"></script>
</head>
<body>
 <div class="travel-login">
     <header class="clearfix">
		 <img th:src="@{/images/img/i-LOGO-02-01.png}">
		 <div class="login_toolbox">
			 <a class="login_username" th:href="@{loginHtml}">登录</a>
			 <a class="login_kefu" href="#">客服中心</a>
		 </div>
     </header>
     <!-- 主体部分开始 -->
     <section >
    	<aside class="i-register-left clearfix">
			<div class="i-reg-top">
				<label>
					<input name="reg"  checked="checked" type="radio">手机注册
				</label>
				<label>
					<input name="reg" type="radio">邮箱注册
				</label>
			</div>
    		<div class="i-reg-bottom cur">
    			<form class="fromOne" method="post" action="##" onsubmit="return false">
					<div class="i_mobile">
						手机号  <input name="usercode" class="phone" placeholder="请输入手机号码" onblur="uPhone()" />
						<span class="userPhone"></span>
					</div>
					<div class="i_pwd">
						登录密码  <input name="userPassword" class="linkidcard1" type="password" placeholder="请输入密码" onblur="uPwd(1)" />
						<span class="userPwd1"></span>
					</div>
					<div class="i_check">
						验证码  <input type="text" class="yzm1" placeholder="请输入验证码" onblur="yzm(1)"/>
						<span class="yzmUUID1"></span>
						<div class="i_check_in"></div><i class="idCode"><a href="javascript:void(0);" onclick="huanCode()">换一张</a></i>
					</div>
					<div class="i_lives">
						激活码  <input type="text" name="UUIDCode" class="UUIDCode1" placeholder="请输入激活码"/><a href="javascript:void(0)" onclick="getPhoneUUIDFake()">获取激活码</a>
						<span class="uuid1"></span>
					</div>
					<div class="i-reg-check">
						<input id="i-reg-info" checked="checked" type="checkbox">
						<label for="i-reg-info">
						我已经阅读并同意遵守
						<a class="agreement" href="javascript:void(0) ;">《i旅行用户服务协议》</a>
						</label>
					</div>
					<div class="i-reg-sub">
						<input class="submitOne" type="button" onclick="addUserByPhone()" value="同意协议并注册">
					</div>
    			</form>
    		</div>
    		<div class="i-reg-bottom">
				<form method="post" class="fromTwo"  action="##" onsubmit="return false">
					<div class="i_mobile i_mail">
						注册邮箱  <input name="usercode" class="usercode"  placeholder="请输入邮箱号码" onblur="uEmail()" />
						<span class="userEmail"></span>
					</div>
					<div class="i_pwd">
						登录密码  <input name="userPassword" class="linkidcard2" type="password" placeholder="请输入密码" onblur="uPwd(2)" />
						<span class="userPwd2"></span>
					</div>
					<div class="i_check">
						验证码  <input type="text" class="yzm2" placeholder="请输入验证码" onblur="yzm(2)"/>
						<span class="yzmUUID2"></span>
						<div class="i_check_in"></div><i class="idCode"><a href="javascript:void(0);" onclick="huanCode()">换一张</a></i>
					</div>
					<div class="i_lives">
						激活码  <input type="text" name="UUIDCode" class="UUIDCode2" placeholder="请输入激活码"/><a href="javascript:void(0)" onclick="getEmailUUID()">获取激活码</a>
						<span class="uuid2"></span>
					</div>
					<div class="i-reg-check">
						<input class="i-reg-info" checked="checked" type="checkbox">
						<label for="i-reg-info">
							我已经阅读并同意遵守
							<a class="agreement" href="javascript:void(0);">《i旅行用户服务协议》</a>
						</label>
					</div>
					<div class="i-reg-sub">
						<input class="submitTwo" type="button" onclick="addUserByEmail()" id="submit" value="同意协议并注册">
					</div>
				</form>
    		</div>

    	</aside>
    	<aside class="i-register-right"></aside>
     </section>
     <!-- 主体部分结束 -->

     <!-- footer开始 -->

     <footer>
         <div class="i-footer clearfix">
             <div class="i-footer-wrap">
                 <p>Copyright©1999-2016, ctrip.com. All rights reserved. | <a href="#">ICP证：沪B2</a></p>
                 <p><span class="i-footer-hui"></span>沪公网备310105020000xx号</p>
                 <p>旅游违法行为举报电话12318 丨服务质量投诉电话 962020 丨<a href="#">北京市旅游网站落实诚信建设主体责任承诺书</a></p>
                 <ul>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_11.jpg}" height="32" width="88" alt=""></a></li>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_13.jpg}" height="32" width="88" alt=""></a></li>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_15.jpg}" height="32" width="88" alt=""></a></li>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_17.jpg}" height="32" width="88" alt=""></a></li>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_19.jpg}" height="32" width="88" alt=""></a></li>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_21.jpg}" height="32" width="88" alt=""></a></li>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_23.jpg}" height="32" width="88" alt=""></a></li>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_25.jpg}" height="32" width="128" alt=""></a></li>
					 <li><a href="#"><img th:src="@{/images/icon/icon1126_27.jpg}" height="32" width="102" alt=""></a></li>
				 </ul>
             </div>
         </div>
         <!-- footer结束 -->
     </footer>
 </div>
</body>
</html>
